<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>B6A40910FE3F6B34E0495DA755A7C8D0</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
